{
    "Настройки": {
        "Общие": {
             "ТолькоВыгрузка": false,
             "КаталогКопий": "",
             "ЗавершатьСеансы": true,
             "БлокироватьВход": false
        },

        "КонтекстВыгрузки": {
            "ИмяБазы": "",
            "ТипБазы": "S",
            "ВерсияПлатформы": "",
            "ПутьКПлатформе1С": "C:\\Program Files\\1cv8\\8.3.18.1363\\bin\\1cv8.exe",
            "АдресКластера": "",
            "ИмяПользователя": "",
            "ПарольПользователя": "",
            "ИмяПользователяАдминистратораКластера": "",
            "ПарольПользователяАдминистратораКластера": ""
        },
        "КонтекстЗагрузки": {
            "ИмяБазы": "",
            "ТипБазы": "S",
            "ВерсияПлатформы": "83",
            "ПутьКПлатформе1С": "C:\\Program Files\\1cv8\\8.3.18.1363\\bin\\1cv8.exe",
            "АдресКластера": "",
            "ИмяПользователя": "",
            "ПарольПользователя": "",
            "ИмяПользователяАдминистратораКластера": "",
            "ПарольПользователяАдминистратораКластера": ""
        }

    }
}