{
    "Настройки": {
        "Общие": {
             "ТолькоВыгрузка": true,
             "КаталогКопий": "D:\\backup",
             "ЗавершатьСеансы": true,
             "БлокироватьВход": false
        },
        "ИнформационныеБазы": [
            {
                "Настройки": {},
                "НастройкиВыгрузки": {
                    "ИмяБазы": "db0",
                    "ТипБазы": "S",
                    "ВерсияПлатформы": "83",
                    "ПутьКПлатформе1С": "C:\\Program Files\\1cv8\\8.3.18.1363\\bin\\1cv8.exe",
                    "АдресКластера": "",
                    "ИмяПользователя": "Администратор",
                    "ПарольПользователя": "",
                    "ИмяПользователяАдминистратораКластера": "Администратор",
                    "ПарольПользователяАдминистратораКластера": ""
                }
            },
            {
                "Настройки": {
                    "ТолькоВыгрузка": false
                },
                "НастройкиВыгрузки": {
                    "ИмяБазы": "db1",
                    "ТипБазы": "S",
                    "ВерсияПлатформы": "83",
                    "ПутьКПлатформе1С": "C:\\Program Files\\1cv8\\8.3.18.1363\\bin\\1cv8.exe",
                    "АдресКластера": "",
                    "ИмяПользователя": "Администратор",
                    "ПарольПользователя": "",
                    "ИмяПользователяАдминистратораКластера": "Администратор",
                    "ПарольПользователяАдминистратораКластера": ""
                },
                "НастройкиЗагрузки": {
                    "ИмяБазы": "db2",
                    "ТипБазы": "S",
                    "ВерсияПлатформы": "83",
                    "ПутьКПлатформе1С": "C:\\Program Files\\1cv8\\8.3.18.1363\\bin\\1cv8.exe",
                    "АдресКластера": "",
                    "ИмяПользователя": "Администратор",
                    "ПарольПользователя": "",
                    "ИмяПользователяАдминистратораКластера": "Администратор",
                    "ПарольПользователяАдминистратораКластера": ""
                }
            }
            
        ]
    }
}